# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
*.log

# Media files
media/

# Static collected files
staticfiles/

# IDE
.vscode/
.idea/

# Temporary files
*.zip
*.docx
tree-f.txt

# OS
Thumbs.db
.DS_Store