{#templates/registration/password_reset_complete.html#}

{% extends "base.html" %}

{% block content %}

<div class="container mt-5 text-center">

    <div class="alert alert-success">
        <h3>رمز عبور با موفقیت تغییر کرد.</h3>

        <p>
            اکنون می‌توانید با رمز عبور جدید وارد حساب کاربری شوید.
        </p>
    </div>

    <a href="{% url 'accounts:login' %}" class="btn btn-primary">
        ورود به حساب کاربری
    </a>

    <a href="{% url 'home' %}" class="btn btn-secondary">
        بازگشت به صفحه اصلی
    </a>

</div>

{% endblock %}